<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pilot Week in GTA Online - Rockstar Games</title>
    <link rel="icon" href="../img/icon/icon-180x180.png" sizes="120x120" />
    <link href="../style/nav.css" rel="stylesheet" type="text/css">
    <link href="../style/newswiremain.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- 第0部分：最左边 -->
    <nav id="leftest" style="background-image: url('https://www.rockstargames.com/dist/img/global/nav-bg/206t.jpg');">
        <!-- 第0.1部分：代码完全复用第一部分 -->
        <div class="header" id="navHead">
            <div class="header-inner">
                <div class="head-left">
                    <a class="active" href="#" onclick="clickNav()">
                        <span class="head-left-span-4"></span>
                    </a>
                </div>
                <a href="/">
                    <div class="head-center"></div>
                </a>
                <div class="head-right"></div>
            </div>
        </div>

        <!-- 第0.2部分 -->
        <div class="main-nav" id="mainNav">
            <div class="main-form">
                <form class="nav-form">
                    <button type="submit" class="button-0-2"></button>
                    <input placeholder="Search Rockstar Games" name="q" value="" id="search">
                </form>
            </div>


            <div id="navHrefDiv">
                <a href="/newswire" class="nav-href">Newswire</a>
                <a href="/games">Games</a><a href="/videos">Videos</a>
                <a href="/downloads">Downloads</a>
                <a href="https://support.rockstargames.com?redirect_lang=en_us" target="_blank">Support</a>
                <a href="https://socialclub.rockstargames.com/" target="_blank">Social Club</a>
                <a href="https://socialclub.rockstargames.com/rockstar-games-launcher" target="_blank">Launcher</a>
                <a href="https://www.rockstarwarehouse.com/?_ga=2.16670518.1214244686.1594230687-1357263473.1594230687"
                    target="_blank">Warehouse</a>
            </div>
        </div>

        <!-- 第0.3部分 -->
        <div class="nav-footer-main">
            <button id="translate" onclick="clickLan()">
                <i></i>
                <span id="languageSpan">English</span>
            </button>
            <div class="lang" id="langSup">
                <div class="lang-main">
                    <a href="https://www.rockstargames.com/">English</a>
                    <a href="https://www.rockstargames.com/de/">Deutsch</a>
                    <a href="https://www.rockstargames.com/fr/">Français</a>
                    <a href="https://www.rockstargames.com/it/">Italiano</a>
                    <a href="https://www.rockstargames.com/jp/">日本語</a>
                    <a href="https://www.rockstargames.com/ru/">Pусский</a>
                    <a href="https://www.rockstargames.com/es/">Español (España)</a>
                    <a href="https://www.rockstargames.com/mx/">Español (México)</a>
                    <a href="https://www.rockstargames.com/br/">Português</a>
                    <a href="https://www.rockstargames.com/kr/">한국어</a>
                    <a href="https://www.rockstargames.com/zh/">中文（简体）</a>
                    <a href="https://www.rockstargames.com/tw/">中文（繁體）</a>
                    <a href="https://www.rockstargames.com/pl/">Polski</a>
                </div>
            </div>
        </div>

        <footer id="navFooter">

            <div class="footer-center">
                <a href="mailto:mouthoff@rockstargames.com">Mouthoff</a>
                <a href="mailto:PR@rockstargames.com">Press</a>
                <a href="/corpinfo">Corporate</a>
                <a href="/cookies">Cookies</a>
                <a href="/legal">Legal</a><a href="https://www.rockstargames.com/careers">Careers</a>
                <a href="https://socialclub.rockstargames.com/settings/email" href="/ccpa">Do Not Sell My Info</a>
            </div>
            <div class="footer-right">
                <a href="https://twitch.tv/rockstargames" target="_blank" class="footer-right-1"></a>
                <a href="https://instagram.com/rockstargames" target="_blank" class="footer-right-2"></a>
                <a href="https://twitter.com/rockstargames" target="_blank" class="footer-right-3"></a>
                <a href="https://www.youtube.com/rockstargames" target="_blank" class="footer-right-4"></a>
                <a href="https://www.facebook.com/rockstargames" target="_blank" class="footer-right-5"></a>
            </div>
        </footer>

    </nav>

    <!-- 第一部分：头部 -->
    <div class="header">
        <div class="header-inner">
            <div class="head-left">
                <a class="active" href="#" onclick="clickNav()">
                    <span class="head-left-span-1"></span>
                    <span class="head-left-span-2"></span>
                    <span class="head-left-span-3"></span>
                </a>
            </div>
            <a href="/">
                <div class="head-center"></div>
            </a>
            <div class="head-right"></div>
        </div>
    </div>

    

    <!-- 第五部分：尾部 -->
    <div style="height: 30px;"></div>
    <footer>
        <div class="footer-left">Rockstar Games</div>
        <div class="footer-center">
            <span class="footer-span">New York</span>
            <span class="footer-span">London</span>
            <span class="footer-span">Paris</span>
            <span class="footer-span">Bogota</span>
        </div>
        <div class="footer-right">MCMXCVIII</div>
    </footer>

    <script src="../js/move.js"></script>
    <script src="./template.js"></script>
</body>

</html>