* {
    box-sizing: border-box;
    line-height: 1.15;
    font-family: "Microsoft YaHei", Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
    letter-spacing: -.025rem;
}

div.header {
    background-image: url("../img/top.jpg");
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border: none;
    position: fixed;
    z-index: 20;
}

div.header-inner {
    position: fixed;
    top: 0px;
    width: 100%;
    float: none;
    padding: 12px 29.25px;
}

.head-left {
    display: inline-block;
    /* position: static; */
    width: calc(50% - 37px);
    height: 36px;
    z-index: 100;
}

.active {
    position: relative;
    width: 24px;
    height: 100%;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    outline: none;
}

span[class^="head-left-span"] {
    display: block;
    background-color: #fcaf17;
    width: 24px;
    height: 4px;
}

span.head-left-span-1 {
    margin-top: 6px;
    margin-bottom: 4px;
}


span.head-left-span-3 {
    margin-top: 4px;
}


.head-center {
    display: inline-block;
    /* position: static; */
    width: 74px;
    height: 36px;
    z-index: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 216 198.83'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath d='M214.55 197.37a4.94 4.94 0 111.45-3.5 4.75 4.75 0 01-1.45 3.5zm-6.52-6.5a4.27 4.27 0 000 6 4.25 4.25 0 006 0 4.26 4.26 0 00-6-6zm2.92.27a4.24 4.24 0 011.5.2 1.36 1.36 0 01.84 1.38 1.17 1.17 0 01-.53 1.08 2.45 2.45 0 01-.78.26 1.32 1.32 0 01.93.52 1.57 1.57 0 01.3.84v.8a1.2 1.2 0 000 .28v.07h-.89v-.66c0-.63-.17-1.05-.52-1.24a2.45 2.45 0 00-1.07-.17H210v2.12h-.95v-5.43zm1 .89a2.38 2.38 0 00-1.16-.2H210v1.94h.87a2.48 2.48 0 00.93-.13.94.94 0 00.2-1.64z'/%3E%3Cpath d='M178.43 0H38.26C17.17 0 0 16.66 0 37.12v124.51c0 20.74 16.65 37 37.91 37h140.17c21.26 0 37.92-16.26 37.92-37V37.12C216 16.31 199.5 0 178.43 0zm33.31 161.62c0 18.36-14.78 32.75-33.66 32.75H37.91C19 194.37 4.25 180 4.25 161.62V37.11c0-18.43 15-32.86 34-32.86h140.18c18.68 0 33.31 14.43 33.31 32.86z'/%3E%3Cpath d='M178.43 4.25H38.26c-19.06 0-34 14.43-34 32.86v124.51C4.25 180 19 194.37 37.91 194.37h140.17c18.88 0 33.66-14.39 33.66-32.75V37.11c0-18.43-14.63-32.86-33.31-32.86z' fill='%23fcaf17'/%3E%3Cpath d='M185.49 118.2h-27.06l-4.29-27-15.86 26.8h-3a23.14 23.14 0 01-2.52-10.42c0-4.6.34-9.1.34-15 0-7.76-2.28-11.92-8.37-13.38V79c12.94-1.8 18.81-10.36 18.81-22.42 0-17.12-11.39-20.84-26.32-20.84H77.08l-17 80.4h21.37l6.18-29.25h14.19c7.57 0 10.67 3.7 10.67 10.79 0 5.39-.56 9.66-.56 13.81 0 1.54.35 5.11 1.38 6.49l15.43 16.29-13.27 28.55L143.86 146 165 162.23l-4-26.93zM108.2 71.86h-17l4.1-19.38h15.79c5.62 0 11.46 1.46 11.46 8.34 0 8.67-6.65 11.04-14.35 11.04z'/%3E%3Cpath fill='%23fff' d='M173.03 122.13h-17.95l-3.11-19.53-11.44 19.34h-18.11l11.01 11.6-9.05 19.44 19.78-11.75 15.58 11.98-2.9-19.75 16.19-11.33z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
}

.head-right {
    display: inline-block;
    /* position: static; */
    width: calc(49% - 37px);
    height: 36px;
    z-index: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 48 48'%3E%3Ccircle cx='24' cy='24' r='24' opacity='.1' fill-rule='evenodd' clip-rule='evenodd' fill='%23fff'/%3E%3Cdefs%3E%3Cpath id='a' d='M23.435 36s-.075 0 0 0h-.6c-2.025 0-4.199 0-6.299-.6-2.25-.675-3.449-1.8-3.524-3.524-.075-.825.225-1.65.75-2.325.825-1.125 2.025-1.8 3.074-2.325.375-.225.75-.375 1.125-.6.45-.3 1.5-1.05 1.575-2.025 0-.45-.15-.975-.6-1.575l-.45-.675c-.3-.45-.6-.9-.9-1.425-.9-1.875-.75-4.199.3-5.924.15-.225.3-.45.525-.675a6.987 6.987 0 015.249-2.325c2.025-.075 3.974.825 5.399 2.25.225.225.45.525.6.75 1.05 1.725 1.125 4.049.225 5.924-.3.525-.6.975-.9 1.425l-.45.675c-.375.6-.6 1.125-.6 1.575.075.975 1.125 1.725 1.575 2.025.375.225.75.45 1.125.6 1.05.525 2.25 1.125 3.074 2.325.525.675.75 1.575.75 2.325-.075 1.65-1.275 2.849-3.524 3.524-.525.15-1.05.225-1.5.375-.525.075-1.125-.3-1.2-.825-.075-.525.3-1.125.825-1.2.45-.075.9-.15 1.275-.3 1.8-.525 2.025-1.125 2.025-1.65 0-.375-.075-.675-.375-1.05-.525-.75-1.425-1.2-2.325-1.725-.45-.225-.825-.45-1.275-.675-1.575-.975-2.475-2.25-2.55-3.674-.075-.9.225-1.8.9-2.849.15-.225.3-.525.525-.75.3-.375.525-.75.75-1.125.6-1.2.525-2.7-.15-3.899-.075-.075-.15-.15-.3-.375-.975-1.05-2.4-1.65-3.899-1.65a5.11 5.11 0 00-3.749 1.65c-.15.15-.225.3-.3.375-.675 1.2-.75 2.7-.15 3.899.225.375.45.75.75 1.125.15.225.375.45.525.75.675.975.975 1.95.9 2.849-.075 1.425-.975 2.7-2.55 3.674-.375.225-.825.45-1.275.675-.9.525-1.8.975-2.325 1.725-.225.3-.375.675-.375 1.05 0 .525.3 1.125 2.025 1.65 1.8.525 3.674.525 5.699.525h.6c.3 0 .6.15.75.375.225.225.3.525.225.825-.001.45-.451.825-.975.825z'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' overflow='visible' fill='%23fff'/%3E%3CclipPath id='b'%3E%3Cuse xlink:href='%23a' overflow='visible'/%3E%3C/clipPath%3E%3Cpath clip-path='url(%23b)' fill='%23fff' d='M8 7h31.458v34H8z'/%3E%3C/svg%3E")
}

.button-hold {
    background: #ffffff;
    display: flex;
    justify-content: center;
    height: 10px;
    margin-bottom: 60px;
}

.inner-button {
    border: none;
    outline: none;
    padding: 0;
    background: #000;
    transition: background .3s;
    cursor: pointer;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0px 8px;
}

h2 {
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    border-bottom: solid;
    border-width: 6px;
    border-bottom-color: black;
    margin-bottom: 30px;
}

.view-more {
    position: relative;
    background: transparent;
    padding: 0;
    z-index: 1;
    outline: none;
    text-transform: none;
    font-weight: 400;
    align-self: center;
    display: inline-block;
    border: none;
}

.view-more::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 4px;
    background: #fcaf17;
    left: 0;
    transition: height .2s;
    z-index: -1;
}

.view-more:hover::before {
    height: 100%;
}

.grid-newswire {
    margin-bottom: 36px;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-column-gap: 33.2px;
    grid-row-gap: 33.2px;
}

.grid-newswire> :first-child {
    grid-column: 1/-1;
}

.grid-newswire> :nth-child(2),
.grid-newswire> :nth-child(3) {
    grid-column: span 3;
}

.grid-newswire> :nth-child(n+4) {
    grid-column: span 2;
}

.content-image {
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, .2);
    transition: color .3s;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}


.content-image-top {
    content: "";
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

a {
    text-decoration-line: none;
    color: black;
}

.content-image-down {
    padding: 14.625px;
}


h5 {
    font-weight: 700;
    font-size: 1.75em;
    line-height: 1.125em;
    margin-bottom: 12px;
}

a:hover {
    color: #fcaf17;
}

.content-image-down-left {
    display: inline-block;

    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    color: black !important;
    border: 1px solid #666;
    border-radius: 16px;
    padding: 4px 8px;
    line-height: 1;
    margin-right: 8px;
}

time {
    font-size: .75rem;
    color: #646464;
}

i {
    margin-right: 3px;
    vertical-align: bottom;
    width: 1em;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 14.88'%3E%3Cg data-name='Layer 2'%3E%3Cpath d='M15 5.61H9.38L8.49 0l-3.3 5.57H0L3.21 9 .45 14.88l5.9-3.5 4.4 3.38-.82-5.6z' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: .75rem;
    color: black !important;
    line-height: 1;
}

i::before {
    padding-top: 93.33333333%;
    content: "";
    display: block;
}